body {
  background-color: rgb(23, 26, 36) !important;
  background-attachment: fixed;
}

#Title {
  text-align: center;
  width: 100%;
  margin: 0 0 0 -100px;
  z-index: -1;
}

#TopLine{
  display: flex;
  position: relative; 
  margin-bottom: 25px;
  margin-top: 25px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track-piece  {
background-color: rgb(23, 26, 36);
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #cccccc;
}

#OpenMenu {
  color: #cccccc;
  font-size: 25px;
  width: 100px !important;
}

#OpenMenu:hover {
  color: #ffffff;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: -10;
  background-color: rgb(23, 26, 36); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: 1px solid rgb(23, 26, 36);
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  padding: 8px 8px 8px 8px !important; 
  position: absolute;
  top: 0;
  right: 25px;
  margin-top: 10px;
  font-size: 35px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0 50px 0 50px !important;
  margin-left: auto;
  margin-right: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  text-align: center;
  color: #cccccc !important;
}

/* All the styling for the table */
.styled-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px #000000;
}

.styled-table thead tr {
  background-color: rgb(53, 53, 53);
  color: #cccccc;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(53, 53, 53);
}

.styled-table tbody tr:hover {
  background-color: rgb(185, 185, 185);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}




.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
  color: #cccccc;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  box-shadow: 0 0 20px #000000;
}
.form-style-6 h1{
	background: rgb(53, 53, 53);
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #cccccc;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="number"],
.form-style-6 textarea,
.form-style-6 select 
{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	padding: 3%;
	border: 1px solid rgb(53, 53, 53);
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: rgb(80, 80, 80);
	border-bottom: 2px solid rgb(53, 53, 53);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: rgb(53, 53, 53);
}

.form-style-6 p {
  text-align: center;
  padding: 3%;
  padding-bottom: 0%;
}



#LeftSide {
  width: 40%;
  float:left;
}

#RightSide {
  width: 60%;
  float:left;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0 !important;
}

#TweetList li {
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #cccccc;

  /*
  background:
    linear-gradient(to right, white 1px, transparent 1px) 0 0,
    linear-gradient(to right, white 1px, transparent 1px) 0 100%,
    linear-gradient(to left, white 1px, transparent 1px) 100% 0,
    linear-gradient(to left, white 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, white 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, white 1px, transparent 1px) 100% 0,
    linear-gradient(to top, white 1px, transparent 1px) 0 100%,
    linear-gradient(to top, white 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  */
}

#TweetList li:last-child {
  border: none;
}

#formUsername{
  text-decoration: none;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  font-weight: bold;
  color: #cccccc;
  display: block;
  margin-left: 2.5%;
  text-align: left;
}

#formTweet {
  text-decoration: none;
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  color: #cccccc;
  display: block;
  width: 100%;
  text-align: center;
}

#TweetList li:hover {
  background: rgb(33, 37, 51);
}

